<div class="dashboard-full-page">
  <div class="dashboard-main-contents">
    <aside class="dashboard-aside">
      <%= render partial: 'layouts/dashboard/sidebar' %>
    </aside>
    <article class="dashboard-article">
      <div class="dashboard-title">
        <div><%= image_tag "/images/うまログ.png", class: "dashboard-logo" %></div>
        <P>管理ルームへようこそ！</P>
      </div>
    </article>
  </div>
</div>