<div class="dashboard-sidebar">
  <h2>商品管理</h2>
  <div class="dashboard-label">
    <label>
      <%= link_to "商品一覧", dashboard_products_path %>
    </label>
    <label>
      <%= link_to "CSV一括登録", import_csv_dashboard_products_path %>
    </label>
    <label>
      <%= link_to "ジャンル管理", dashboard_genres_path %>
    </label>
  </div>
  <h2>ユーザー管理</h2>
  <div>
    <label>ユーザー一覧</label>
  </div>
  <h2>その他</h2>
  <div>
    <label>
      <%= link_to "一覧ページへ戻る", root_path %>
    </label>
  </div>
</div>