<div class="dashboard-sidebar">
  <h2>商品管理</h2>
  <div class="dashboard-label">
    <label>商品一覧</label>
    <label>
      <%= link_to "ジャンル管理", dashboard_genres_path %>
    </label>
  </div>
  <h2>ユーザー管理</h2>
  <div>
    <label>ユーザー一覧</label>
  </div>
</div>