// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* メイン
-------------------*/

.dashboard-full-page {
  min-height: calc(100vh - 300px);
}

.dashboard-main-contents {
  display: flex;
  justify-content: space-between;
}

.dashboard-aside {
  width: 15%;
  border-right: solid 1px #ced4da;
}

.dashboard-article {
  width: 90%;
  padding: 10px 0 0 10px;
}

.dashboard-title {
  text-align: center;
  
  p {
    margin-right: 20%;
  }
}


/* サイドバー
-------------------*/

.dashboard-sidebar {
  width: 200px;
  margin: 10px;
  padding: 5px;
  
  h2 {
    font-weight: bold;
  }
  
  label {
    margin-left: 10px;
  }
}

.dashboard-label {
  display:flex;
  flex-flow: column;
}

/* ジャンル
-------------------*/

.dashboard-table {
  text-align: center;
  width: 700px;
}

.dashboard-form-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  background-color: #ff8c00;
}

.dashboard-edit-link {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff8c00;
}

.dashboard-delete-link {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}