// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//index背景画像

#home {
  background-image: url(/images/うまログ背景2.png);
  height: 60vh;
}

.big-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}