// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ログインページ
------------------*/

.user-login{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

/* MYページ
------------------*/

.mypage {
  background-color: #fff;
  padding: 50px;
}

.mypage-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 5px;
}

.label-flex {
  display: flex;
}

.label {
  margin-left: 15px;
}

/* MYページedit
-------------------*/

.mypage-edit {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.form-all {
  margin: 0 200px;
  background-color: #fff;
  padding: 10px;
}

.form-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  background-color: #ff8c00;
  width: 30%;
}

/* パスワードリセット
---------------------*/

.form-btn1 {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  background-color: #ff8c00;
  width: 60%;
}

/* 自分の投稿
---------------------*/

.myposts-display {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #ced4da;
}

.menuSub {
  display: none;
  background-color: #ff8c00;
  
  li {
    height: 5%;
  }
}

.myposts-likes-display {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #ced4da;
  padding-top: 20px;
}