<div class="review-border">
  <h3 class="review-score-color"><%= score_on_star(review.score) %></h3>
  <p class="h3"><%= review.content %></p>
  <h4><%= review.user.name %></h4>
  <label><%= l review.created_at %></label>
</div>